@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "Jost", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal; */
  backface-visibility:hidden;

  /* font-family: "Yuji Syuku", serif;
  font-weight: 400;
  font-style: normal; */
  font-family: "Shippori Mincho B1", serif;
  font-weight: 400;
  font-style: normal;
}

.test {
  font-family: "Beau Rivage", serif;
}

.paint {
  color: #FFF;
  -webkit-text-stroke: 6px #d0576b;
  paint-order: stroke;
}

.paint2 {
  color: #FFF;
  -webkit-text-stroke: 3px #d0576b;
  paint-order: stroke;
}

.bg-cherry {
  background: url('./assets/cherry.jpg') no-repeat center center/cover;
}

.shuku {

  font-family: "Yuji Syuku", serif;
  font-weight: 400;
  font-style: normal;
}

.ovo {
  font-family: "Ovo", serif;
  font-weight: 400;
  font-style: normal;
}

.t-width {
  width: calc(100% + 3rem);
}

.zzz {
  background-image: linear-gradient(#FFF, #FFF), linear-gradient(#FFF, #FFF), linear-gradient(#FFF, #FFF), linear-gradient(#FFF, #FFF), linear-gradient(#FFF, #FFF);
  background-image: linear-gradient(#FFFFFFA0, #FFFFFFA0), linear-gradient(#FFFFFFA0, #FFFFFFA0), linear-gradient(#FFFFFFA0, #FFFFFFA0), linear-gradient(#FFFFFFA0, #FFFFFFA0), linear-gradient(#FFFFFFA0, #FFFFFFA0);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top left, top left 7px, top right 7px, top right, top center;
  background-size: 4px 100%, 2px 100%, 2px 100%, 4px 100%, calc(100% - 28px) 100%;
}

.imgclip {

  // transform: translateX(calc(-20% - 3rem));
  // transform: translateX(calc(-20% - 3rem));
  // clip-path: polygon(30% 0%, 94% 0%, 94% 100%, 30% 100%);
  // clip-path: polygon(20% 0%, 84% 0%, 84% 100%, 20% 100%);
  @media screen and (min-width: 768px) {
    // clip-path: polygon(20% 0%, 94% 0%, 94% 100%, 20% 100%);
    transform: translateX(-10%);

  }
}


.imgclip2 {

  // clip-path: polygon(6% 0%, 70% 0%, 70% 100%, 6% 100%);
  // transform: translateX(30%);
  @media screen and (min-width: 768px) {
    // clip-path: polygon(6% 0%, 80% 0%, 80% 100%, 6% 100%);
    transform: translateX(10%);

  }
}

.bg-f {
  // background: url('./assets/jp1.jpg') no-repeat center center/cover;
  background: url('./assets/ppp.jpg') no-repeat center center/cover;
}

.bg-ex {
  // background-image: url('./assets/jp2.jpg');
  background-image: url('./assets/zzz.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-blend-mode: luminosity;
}

.bg-t1 {
  background-image: url('./assets/bgt1.png');
  background-repeat: repeat;
  background-position: center center;
  background-size: 36px auto;

  background-blend-mode: luminosity;

  @media screen and (min-width: 768px) {
    background-size: 72px auto;
  }
}


.bg-z {
  background: url('./assets/IMG_0978c.jpg') no-repeat center center/cover;
}

.svgbox {
  fill: transparent;
  stroke: #c85554;
  fill-opacity: 0;
  stroke-width: 0px;
  font-family: "Yuji Syuku", serif;
  stroke-dasharray: 12px 1px;
  /*点線の間隔を設定*/
  stroke-dashoffset: 2px;
  /*線の位置を設定*/
  perspective: 1px;
  animation: move 3s ease 3.16s 1 normal forwards;
}

@keyframes move {
  0% {
    fill-opacity: 0;
    stroke-dashoffset: 0;
    stroke-opacity: 0;
    /* 線の不透明度を0に */
    stroke-width: 0.4px;
    /* 細い線から始める */
    stroke-dasharray: 0px 20px;
    /* 最初はすべて白線 */
  }

  40% {
    fill-opacity: 0;

  }

  100% {
    fill-opacity: 1;
    stroke-dashoffset: 20;
    stroke-opacity: 1;
    /* 線の不透明度を1に */
    stroke-width: 2px;
    /* だんだん線を太くする */
    stroke-dasharray: 20px 0px;
  }
}

.a1 {
  background: #222;
  width: 100px;
  height: 10px;
}

.bx {
  opacity: 0;
  animation: move3 1.42s linear 1 both;
}

@keyframes move3 {
  0% {
    opacity: 0;
  }

  98% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ax {
  position: absolute;

  >span {
    width: 2px;
    height: 2px;
    border-radius: 9999px;
    // background: #444;
    background: #c85554;
    position: absolute;
    offset-rotate: auto 90deg;
    animation: move2 3.2s linear 1 both;
    perspective: 1px;

  }

  @for $i from 1 through 300 {
    >span:nth-child(#{$i}) {
      animation-delay: $i * 0.0032s;
    }
  }

}

.a3 {
  >span {
    // height: 80px;
    offset-rotate: auto 75deg;
    offset-path: path("M249.72,401.16 C241.86,397.67 47.55,354.18 83.85,247.85 C118.39,146.64 233.28,163.45 233.28,163.45");
  }
}

.a4 {
  top: 14px;

  >span {
    // height: 90px;
    offset-rotate: auto 92deg;
    offset-path: path("M408.16,68.44 C402.83,59.34 200.04,-67.95 122.06,35.98 C52.64,128.51 116.35,167.95 116.35,167.95 C148.40,184.09 233.66,177.74 233.66,177.74");
  }
}

.a5 {
  top: -14px;

  >span {
    offset-rotate: auto 100deg;
    // height: 100px;
    offset-path: path("M377.25,407.49 C378.75,397.79 459.09,279.67 370.75,228.57 C282.41,177.46 176.21,192.75 176.21,192.75");
  }
}

.a6 {
  >span {
    // height: 130px;
    offset-path: path("M-1.30,235.41 C-24.63,164.64 -3.17,47.24 76.15,29.16 C167.76,8.28 260.24,174.61 143.55,243.86");
  }
}

.a7 {
  >span {
    // height: 60px;
    offset-path: path("M-4.66,47.91 C-3.08,47.64 77.84,-20.84 147.28,21.37 C206.40,57.30 237.49,218.09 211.09,256.15");
  }
}

.a8 {
  >span {
    // height: 100px;
    offset-path: path("M0.81,327.08 C7.16,336.95 176.19,495.03 296.36,394.92 C409.52,300.66 389.21,191.00 147.72,210.77");
  }
}

.a9 {
  >span {
    // height: 100px;
    // animation: move2 0.6s linear 1 forwards;
    offset-path: path("M385.33,335.74 C334.56,361.35 251.76,349.76 232.22,343.79 C220.87,340.32 190.88,323.81 193.55,303.79 C194.53,296.42 209.78,292.57 210.94,306.32 C211.01,307.12 211.38,307.55 211.86,306.70 C219.78,292.73 229.83,305.75 228.06,312.11 C224.72,324.07 194.90,333.62 176.57,336.33 C162.96,338.33 125.41,332.71 96.44,317.00 C43.14,288.10 -5.53,234.43 5.25,201.19 C39.89,94.35 197.95,233.54 197.95,233.54");
  }

  // @for $i from 1 through 150 {
  //   > span:nth-child(#{$i}) {
  //     animation-delay: 0.6s + $i * 0.002s;
  //   }
  // }
}



@keyframes move2 {
  0% {
    offset-distance: 0%;
  }

  99% {
    offset-distance: 100%;
    opacity: 1;
  }

  // 100% {
  //   offset-distance: 100%;
  //   opacity: 1;
  // }
  100% {
    offset-distance: 100%;
    opacity: 0;
  }
}

.scroll-bar {
  z-index: 9997;
  width: 60px;
  height: 100px;
  position: fixed;
  bottom: 0;
  right: 0;

  // background: #0000003F;
  // background: linear-gradient(135deg, #66666600 0%, #66666655 100%) no-repeat bottom left/ auto;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 1px;
    margin-inline: auto;
    background: #FFF;
    height: 100%;
    box-shadow: 0 0 6px 1px rgba(200, 200, 200, 0.4);

  }

  &__inner {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 4px;
    background: #FFF;
    box-shadow: 0 0 24px 1px rgba(100, 100, 100, 0.8);
    height: 12px;
    animation: scb 1.32s linear infinite both;
  }
}

@keyframes scb {
  0% {
    top: 0;
  }

  100% {
    top: calc(100% - 12px);
  }
}

.ab {
  position: fixed;
  z-index: 30;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 10rem;
  height: 3vw;

  >p {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-shadow: 0 0 6px rgba(40, 40, 40, 0.8);
    color: #FFF;
    margin: 0 auto;
    text-align: center;
    transform: translateY(-100%);
    @media screen and (min-width: 768px) {
      transform: translateY(-80%);
    }
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 31;

    &:before,
    &:after {
      content: '';
      width: 3vw;
      height: 0.32vw;
      background: #FFF;
      position: absolute;
      border-radius: 9999px;
      bottom: 0;
      left: 0;
      right: 0;
      margin-inline: auto;
      transform-origin: center center;

    }

    &:before {
      transform: translate(0.98vw, -1vw) rotate(135deg);

    }

    &:after {
      transform: translate(-0.98vw, -1vw) rotate(45deg);

    }
  }

  &:before,
  &:after {
    content: '';
    width: 3vw;
    height: 0.32vw;
    background: #FFF;
    position: absolute;
    border-radius: 9999px;
    box-shadow: 0 0 6px 1px rgba(40, 40, 40, 0.5);
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    transform-origin: center center;

  }

  &:before {
    transform: translate(0.98vw, -1vw) rotate(135deg);

  }

  &:after {
    transform: translate(-0.98vw, -1vw) rotate(45deg);

  }
}

.drawer-list {
  >li {
    &:not(:first-child) {
      background: linear-gradient(#AAA, #AAA) no-repeat top center / 1.2rem 1px;
    }
  }
}

.drawer-menu {
  &__inner {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  &__line {
    width: 2rem;
    height: 2px;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: ease .2s all;
    box-shadow: 0 0 6px 1px rgba(40, 40, 40, 0.32);
    @media screen and (min-width: 768px) {
      width: 3rem;
    }

    .dt & {
      height: 1px;
    }

    &--1 {
      transform: translateY(-10px);

      .dt & {
        transform: rotate(40deg);
      }

    }

    &--2 {
      .dt & {
        transform: translateX(100%);
        opacity: 0;
      }

    }

    &--3 {
      transform: translateY(10px);

      .dt & {
        transform: rotate(-40deg);
      }
    }
  }

}

.ssss {
  text-shadow: 0 0 1px rgba(255, 255, 255, 1);
}

html {
  scroll-behavior: smooth;
}

.mv {

  transform: scale(1.32);

  @media screen and (min-width: 768px) {
    transform: scale(1.6);
  }
}

.swiper-wrap {
  margin: 0 calc(50% - 50vw);
  max-width: 100vw;
  position: relative;
  overflow: hidden;
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img{
  animation: zoom-in 10s linear 0s 1 normal both;  
}


.slide-img img{
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}

.pers {
  perspective: 1px;
}

.block {
  padding: 10%;
}

#text {
  mask: url(#mask);
}

.handwriting {
  width: 100%;
  height: auto;
  &_text {
    fill: #c85554;
  }
  &_mask {
    &_line {
      fill: none;
      stroke: #fff;
      stroke-width: 7;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 4000px;
      animation: 5s handwriting .4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
  }
}


@keyframes handwriting {
  0% {
    stroke-dashoffset: 4000px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}