@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "Jost", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal; */


  /* font-family: "Yuji Syuku", serif;
  font-weight: 400;
  font-style: normal; */
  font-family: "Shippori Mincho B1", serif;
  font-weight: 400;
  font-style: normal;
}

.test {
  font-family: "Beau Rivage", serif;
}

.paint {
  color:#FFF;
  -webkit-text-stroke: 6px #d0576b;
  paint-order: stroke;
}

.paint2 {
  color:#FFF;
  -webkit-text-stroke: 3px #d0576b;
  paint-order: stroke;
}

.bg-cherry {
  background: url('./assets/cherry.jpg') no-repeat center center/cover;
}
.shuku {

  font-family: "Yuji Syuku", serif;
  font-weight: 400;
  font-style: normal;
}
.ovo {
  font-family: "Ovo", serif;
  font-weight: 400;
  font-style: normal;
}

.imgclip {
  /* clip-path: polygon(0% 0%, 60% 0%, 40% 100%, 0% 100%); */
  transform: translateX(-30%);
  /* clip-path: polygon(30% 0%, 90% 0%, 70% 100%, 30% 100%); */
  clip-path: polygon(30% 0%, 94% 0%, 94% 100%, 30% 100%);
}


.imgclip2 {
  /* clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 40% 100%); */
  /* clip-path: polygon(30% 0%, 70% 0%, 70% 100%, 10% 100%); */
  clip-path: polygon(6% 0%, 70% 0%, 70% 100%, 6% 100%);
  /* transform: translateX(30%); */
  transform: translateX(30%);
}

.bg-f {
  background: url('./assets/jp1.jpg') no-repeat center center/cover;
}

.bg-z {
  background: url('./assets/IMG_0978c.jpg') no-repeat center center/cover;
}

.svgbox{
  fill: transparent;
  stroke: #c85554;
  fill-opacity: 0;
  stroke-width:0px;
  font-family: "Yuji Syuku", serif;
  stroke-dasharray:12px 1px;  /*点線の間隔を設定*/
  stroke-dashoffset:2px;  /*線の位置を設定*/
  animation:move 2s ease 1.3s 1 normal forwards;
}

@keyframes move{
  0%{
    fill-opacity: 0;
    stroke-dashoffset:0;
    stroke-opacity:0; /* 線の不透明度を0に */
    stroke-width:0.4px; /* 細い線から始める */
    stroke-dasharray:0px 20px; /* 最初はすべて白線 */
  }
  40% {
    fill-opacity: 0;

  }
  100%{
    fill-opacity: 1;
    stroke-dashoffset:20;
    stroke-opacity:1; /* 線の不透明度を1に */
    stroke-width:2px; /* だんだん線を太くする */
    stroke-dasharray:20px 0px; 
  }
}

.a1 {
  background: #222;
  width: 100px;
  height: 10px;
}

.bx {
  opacity: 0;
  animation: move3 1.42s linear 1 both;
}

@keyframes move3 {
  0% {
    opacity: 0;
  }
  98%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ax {
  position: absolute;
  >span {
    width: 2px;
    height: 2px;
    border-radius: 9999px;
    // background: #444;
    background: #c85554;
    position: absolute;
    offset-rotate: auto 90deg;
    animation: move2 1.32s linear 1 both;

  }

  @for $i from 1 through 150 {
    > span:nth-child(#{$i}) {
      animation-delay: $i * 0.003s;
    }
  }
  
}

.a3 {
  >span {
    // height: 80px;
    offset-rotate: auto 75deg;
    offset-path: path("M249.72,401.16 C241.86,397.67 47.55,354.18 83.85,247.85 C118.39,146.64 233.28,163.45 233.28,163.45");
  }
}
.a4 {
  top: 14px;
  >span {
    // height: 90px;
    offset-rotate: auto 92deg;
    offset-path: path("M408.16,68.44 C402.83,59.34 200.04,-67.95 122.06,35.98 C52.64,128.51 116.35,167.95 116.35,167.95 C148.40,184.09 233.66,177.74 233.66,177.74");
  }
}
.a5 {
  top: -14px;
  >span {
    offset-rotate: auto 100deg;
    // height: 100px;
    offset-path: path("M377.25,407.49 C378.75,397.79 459.09,279.67 370.75,228.57 C282.41,177.46 176.21,192.75 176.21,192.75");
  }
}
.a6 {
  >span {
    // height: 130px;
    offset-path: path("M-1.30,235.41 C-24.63,164.64 -3.17,47.24 76.15,29.16 C167.76,8.28 260.24,174.61 143.55,243.86");
  }
}

.a7 {
  >span {
    // height: 60px;
    offset-path: path("M-4.66,47.91 C-3.08,47.64 77.84,-20.84 147.28,21.37 C206.40,57.30 237.49,218.09 211.09,256.15");
  }
}

.a8 {
  >span {
    // height: 100px;
    offset-path: path("M0.81,327.08 C7.16,336.95 176.19,495.03 296.36,394.92 C409.52,300.66 389.21,191.00 147.72,210.77");
  }
}

.a9 {
  >span {
    // height: 100px;
    // animation: move2 0.6s linear 1 forwards;
    offset-path: path("M385.33,335.74 C334.56,361.35 251.76,349.76 232.22,343.79 C220.87,340.32 190.88,323.81 193.55,303.79 C194.53,296.42 209.78,292.57 210.94,306.32 C211.01,307.12 211.38,307.55 211.86,306.70 C219.78,292.73 229.83,305.75 228.06,312.11 C224.72,324.07 194.90,333.62 176.57,336.33 C162.96,338.33 125.41,332.71 96.44,317.00 C43.14,288.10 -5.53,234.43 5.25,201.19 C39.89,94.35 197.95,233.54 197.95,233.54");
  }

  // @for $i from 1 through 150 {
  //   > span:nth-child(#{$i}) {
  //     animation-delay: 0.6s + $i * 0.002s;
  //   }
  // }
}



@keyframes move2 {
  0% {
    offset-distance: 0%;
  }
  99% {
    offset-distance: 100%;
    opacity: 1;
  }
  // 100% {
  //   offset-distance: 100%;
  //   opacity: 1;
  // }
  100% {
    offset-distance: 100%;
    opacity: 0;
  }
}

.scroll-bar {
  width: 20px;
  height: 80px;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #0000003F;
}